<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SerialTest.Properties.Settings>
      <setting name="TranscodeCachePath" serializeAs="String">
        <value>C:\temp\</value>
      </setting>
      <setting name="BankFileHeader" serializeAs="String">
        <value>AA.M4.PATT.BANK.</value>
      </setting>
      <setting name="KitFileHeader" serializeAs="String">
        <value>AA.M4.SAMPL.KIT.</value>
      </setting>
      <setting name="MetaFileHeader" serializeAs="String">
        <value>AA.M4.DRUM.DATA.</value>
      </setting>
    </SerialTest.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SerialTest.Properties.Settings>
      <setting name="DataDir" serializeAs="String">
        <value>\MegaDrumMachine\</value>
      </setting>
      <setting name="SampleLib" serializeAs="String">
        <value>Samples.dat</value>
      </setting>
      <setting name="OnCardSampleData" serializeAs="String">
        <value>OnCard.dat</value>
      </setting>
      <setting name="KitDir" serializeAs="String">
        <value>Kits\</value>
      </setting>
      <setting name="PatternBanks" serializeAs="String">
        <value>Patterns\</value>
      </setting>
      <setting name="SDImportDir" serializeAs="String">
        <value>SDImport\</value>
      </setting>
      <setting name="SDFile" serializeAs="String">
        <value>.sdaudit.csv</value>
      </setting>
      <setting name="VersionString" serializeAs="String">
        <value>76rGd0wA58LHXdVb</value>
      </setting>
    </SerialTest.Properties.Settings>
  </applicationSettings>
</configuration>